@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* GDSC Colors */

    --lightgrey-100: #f2f2f2;
    --lightgrey-500: #e6e6d0;
    --lightgrey-900: #e6e6e6;

    --neutralcore-white: #ffffff;
    --neutralcore-black: #000000;

    --darkgrey-100: #cccccc;
    --darkgrey-200: #838383;
    --darkgrey-300: #999999;
    --darkgrey-500: #808080;
    --darkgrey-600: #666666;
    --darkgrey-700: #4d4d4d;
    --darkgrey-800: #333333;
    --darkgrey-900: #1a1a1a;

    --primary-900-blue: #2196f3;
    --primary-900-green: #4caf50;
    --primary-900-red: #f44336;
    --primary-900-yellow: #ffc107;

    --primary-800-blue: #42a5f5;
    --primary-800-green: #66bb6a;
    --primary-800-red: #ef5350;
    --primary-800-yellow: #ffca28;

    --primary-500-blue: #64b5f6;
    --primary-500-green: #81c784;
    --primary-500-red: #e57373;
    --primary-500-yellow: #ffd54f;

    --primary-300-blue: #90caf9;
    --primary-300-green: #a5d6a7;
    --primary-300-red: #ef9a9a;
    --primary-300-yellow: #ffe082;

    --primary-200-blue: #bbdefb;
    --primary-200-green: #c8e6c9;
    --primary-200-red: #ffcdd2;
    --primary-200-yellow: #ffecb3;

    --primary-100-blue: #e3f2fd;
    --primary-100-green: #e8f5e9;
    --primary-100-red: #ffebee;
    --primary-100-yellow: #fff8e1;

    --primary-core-green: #34a853;
    --primary-core-blue: #4285f4;
    --primary-core-red: #ea4335;
    --primary-core-yellow: #fbbc04;

    /* Custom Colors */

    --lightgrey-50: #fafafa;
    --darkgrey-950: #121212;
    --darkgrey-600: #36435a;

    --darkblue-900: #0a2d49;
    --darkblue-800: #0d3c61;
    --darkblue-700: #0d3c61;

    --darkyellow-900: #4d3a02;
    --darkyellow-800: #664d03;
    --darkyellow-700: #806104;

    --darkgreen-900: #173518;
    --darkgreen-800: #1e4620;
    --darkgreen-700: #265828;

    /* Project Colors */

    --on-background-primary: var(--neutralcore-black);
    --on-background-secondary: var(--darkgrey-600);
    --on-background-tertiary: var(--darkgrey-300);

    --on-background-em-primary: var(--primary-900-blue);
    --on-background-em-secondary: var(--primary-900-green);
    --on-background-em-tertiary: var(--primary-900-yellow);
    --on-background-em-quaternary: var(--primary-900-red);

    --on-background-neutral-primary: var(--darkgrey-200);

    --background-primary: var(--neutralcore-white);
    --background-secondary: var(--lightgrey-50);
    --background-teritiary: var(--lightgrey-100);

    --background-em-primary: var(--primary-100-blue);
    --background-em-secondary: var(--primary-100-green);
    --background-em-tertiary: var(--primary-100-yellow);
    --background-em-quaternary: var(--primary-100-red);

    --background-neutral-primary: var(--lightgrey-100);

    --background-inverse-primary: var(--neutralcore-black);

    --surface-primary: var(--neutralcore-white);
    --surface-secondary: var(--lightgrey-50);
    --surface-tertiary: var(--lightgrey-900);

    --on-background-inverse-primary: var(--neutralcore-white);
    --on-background-inverse-secondary: var(--darkgrey-200);

    --border-primary: var(--lightgrey-500);
    --border-secondary: var(--lightgrey-900);

    --border-em-primary: var(--primary-200-blue);
    --border-em-secondary: var(--primary-200-green);
    --border-em-tertiary: var(--primary-200-yellow);

    --illo-surface-primary: var(--neutralcore-white);

    /* Shadcn Colors */

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Project Colors */

    --on-background-primary: var(--neutralcore-white);
    --on-background-secondary: var(--darkgrey-100);
    --on-background-tertiary: var(--darkgrey-200);

    --on-background-em-primary: var(--primary-500-blue);
    --on-background-em-secondary: var(--primary-500-green);
    --on-background-em-tertiary: var(--primary-500-yellow);
    --on-background-em-quaternary: var(--primary-500-red);

    --on-background-neutral-primary: var(--darkgrey-100);

    --background-primary: var(--neutralcore-black);
    --background-secondary: var(--darkgrey-950);

    --background-em-primary: var(--darkblue-900);
    --background-em-secondary: var(--darkgreen-900);
    --background-em-tertiary: var(--darkyellow-900);
    --background-em-quaternary: var(--primary-300-red);

    --background-neutral-primary: var(--darkgrey-800);

    --background-inverse-primary: var(--neutralcore-white);

    --surface-primary: var(--darkgrey-900);
    --surface-secondary: var(--darkgrey-800);
    --surface-tertiary: var(--darkgrey-700);

    --on-background-inverse-primary: var(--neutralcore-black);
    --on-background-inverse-secondary: var(--darkgrey-500);

    --border-primary: var(--darkgrey-800);
    --border-secondary: var(--darkgrey-700);

    --border-em-primary: var(--darkblue-700);
    --border-em-secondary: var(--darkgreen-700);
    --border-em-tertiary: var(--darkyellow-700);

    --illo-surface-primary: var(--darkblue-700);

    /* Shadcn Colors */

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
